<div class="dashboard">
  <section class="header">
    <img src="{{ user.avatar_url }}" alt="{{ user.login }}" />

    <div class="user-profile">
      <h2>User Profile</h2>

      <p>Name: {{ user.name }}</p>
      <p>Username: {{ user.login }}</p>

      <p *ngIf="user.company !== null; else companyElseBlock">
        Company: {{ user.company }}
      </p>
      <ng-template #companyElseBlock>
        <p>Company: The user has not registered a company</p>
      </ng-template>

      <p *ngIf="user.bio !== null; else bioElseBlock">Bio: {{ user.bio }}</p>
      <ng-template #bioElseBlock>
        <p>Bio: The user does not have a bio</p>
      </ng-template>

      <p *ngIf="user.email !== null; else emailElseBlock">
        Email: {{ user.email }}
      </p>
      <ng-template #emailElseBlock>
        <p>Email: The user does not have a public email</p>
      </ng-template>

      <p>Link: {{ user.html_url }}</p>
      <p>Date of creation: {{ user.created_at | date: "longDate" }}</p>
    </div>
    <a routerLink="" class="log-out">
      <i class="material-icons">
        power_settings_new
      </i>
    </a>
  </section>
</div>
