<div class="dashboard">
  <section class="header">
    <img src="{{ user.avatar_url }}" alt="{{ user.login }}" />

    <div class="user-profile">
      <h2>User Profile</h2>

      <p>Name: {{ user.name }}</p>
      <p>Username: {{ user.login }}</p>

      <p *ngIf="user.company !== null; else companyElseBlock">
        Company: {{ user.company }}
      </p>
      <ng-template #companyElseBlock>
        <p>Company: The user has not registered a company</p>
      </ng-template>

      <p *ngIf="user.bio !== null; else bioElseBlock">Bio: {{ user.bio }}</p>
      <ng-template #bioElseBlock>
        <p>Bio: The user does not have a bio</p>
      </ng-template>

      <p *ngIf="user.email !== null; else emailElseBlock">
        Email: {{ user.email }}
      </p>
      <ng-template #emailElseBlock>
        <p>Email: The user does not have a public email</p>
      </ng-template>

      <a href="{{ user.html_url }}" class="github-link">
        <p>Link: {{ user.html_url }}</p>
      </a>

      <p>Number of public repositories: {{ user.public_repos }}</p>

      <p>Number of public gists: {{ user.public_gists }}</p>

      <p>Date of creation: {{ user.created_at | date: "longDate" }}</p>
    </div>
    <a routerLink="" class="log-out">
      <i class="material-icons">
        power_settings_new
      </i>
    </a>
  </section>
  <mat-divider class="divider" [inset]="true"></mat-divider>
  <section class="content">
    <table mat-table [dataSource]="repo" class="repo-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let repo">{{ repo.name }}</td>
      </ng-container>

      <ng-container matColumnDef="html_url">
        <th mat-header-cell *matHeaderCellDef>Link</th>
        <td mat-cell *matCellDef="let repo">
          <a href="{{ repo.html_url }}">{{ repo.html_url }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let repo">{{ repo.description }}</td>
        <ng-template #descriptionElseBlock>
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let repo">
            Repository does not have a description
          </td>
        </ng-template>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let repo">
          {{ repo.created_at | date: "longDate" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
